<!DOCTYPE html>
{% load pipeline %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    {% block stylesheet %}
        {% stylesheet "codrops" %}
        {% stylesheet "main" %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body>
<header></header>
<div class="container">
    <aside class="sidebar clearfix">
        <nav>
            <a href="#"><i class="fa fa-fw fa-smile-o"></i></a>
        </nav>
    </aside>
    <div id="morphsearch" class="morphsearch">
        <form class="morphsearch-form">
            <input class="morphsearch-input" type="search" placeholder="Поиск сотрудника..."/>
            <button class="morphsearch-submit" type="submit">Поиск</button>
        </form>
        <div class="morphsearch-content">
            <div class="dummy-column">
                <h2>Результаты</h2>
                <div id="results"></div>
            </div>
        </div>
        <!-- /morphsearch-content -->
        <span class="morphsearch-close"></span>
    </div>
    <!-- /morphsearch -->
    <header class="codrops-header">
        <h1>The Booking Machine</h1>
    </header>
    <div class="overlay"></div>
</div>
<main>
    {% block content %}
        <div class="main-content">
            <div id="menu">
                <a class="popup-open-button request-link-button non-booking-link" data-effect='mfp-3d-unfold' id="attendeesOpener" href="#chooseAttendeesPopup"><span>+</span></a>
            </div>
            <script id="personInputTemplate" type="text/underscore">
                <div class="person-container input-container">
                    <input type="text" class="native-input" name="<%= name %>"/>
                    <button class="remove-person" type="button"><span>⨯</span></button>
                </div>
            </script>
            <script id="attributesTemplate" type="text/underscore">
                <div class="checkbox-row">
                    <label><%= name %></label>
                    <input type="checkbox" class="checkbox-input value-input" name="<%= id %>"/>(
                    <label>Mandatory?</label>
                    <input type="checkbox" class="checkbox-input" name="<%= nm %>"/>)
                </div>
            </script>
        </div>

        <div id='calendar'></div>
    {% endblock %}
</main>
<footer>
    <div class="copyright">
        Techies 2015
    </div>
</footer>
{% block javascript %}
    {% javascript "main" %}
{% endblock %}
<script type="text/javascript" src="/static/scripts/calendar.js"></script>
<div class="popup-form popup-wide-form mfp-hide modal mfp-with-anim" id='chooseAttendeesPopup'>
    <div class="wide-form form-container booking-form">
        <div class="form-title">Choose your attendees</div>
        <form id="attendeesForm" action="">
            <button id="add-people-button" type="button">add attendee</button>
            <div id="peopleContainer">
                <div class="person-container input-container">
                    <input type="text" class="native-input" name="person_0"/>
                </div>
            </div>
            <button class="submitButton" type="submit">submit</button>
        </form>
    </div>
</div>


<a class="popup-open-button mfp-hide request-link-button non-booking-link" data-effect='mfp-3d-unfold' id="chooseOptions" href="#chooseOptionsPopup"></a>
<div class="popup-form popup-wide-form mfp-hide modal mfp-with-anim" id='chooseOptionsPopup'>
    <div class="wide-form form-container booking-form">
        <div class="form-title">Choose meeting interval and other options</div>
        <form id="meetingForm" action="">
            <div id="peopleContainer">
                <div class="person-container input-container">
                    <div class="row">
                        <div class="row half-row">
                            <label for="subject">Date start</label>
                            <input type="text" class="native-input" name="meeting-date-start"/>
                        </div>
                        <div class="row half-row">
                            <label for="subject">Date end</label>
                            <input type="text" class="native-input" name="meeting-date-end"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row half-row">
                            <label for="subject">Interval start</label>
                            <input type="text" class="native-input" name="meeting-interval-start"/>
                        </div>
                        <div class="row half-row">
                            <label for="subject">Interval end</label>
                            <input type="text" class="native-input" name="meeting-interval-end"/>
                        </div>
                    </div>
                    <div class="row">
                        <label for="subject">Event length</label>
                        <input type="text" class="native-input" name="interval"/>
                    </div>
                    <div class="row">
                        <label for="subject">Description</label>
                        <textarea class="native-input" name="description"></textarea>
                    </div>
                    <div class="row">
                        <label for="subject">Subject</label>
                        <input type="text" class="native-input" name="subject"/>
                    </div>
                </div>
            </div>
            <button class="submitButton" type="submit">submit</button>
        </form>
    </div>
</div>

<a class="popup-open-button mfp-hide request-link-button non-booking-link" data-effect='mfp-3d-unfold' id="failPopupLink" href="#failPopup"></a>
<div class="popup-form popup-wide-form mfp-hide modal mfp-with-anim" id='failPopup'>
    <div class="wide-form form-container booking-form">
        <div class="form-title"></div>
            <button class="submitButton" id='delete-failed' type="button">Delete?</button>
    </div>
</div>


<script>
    (function () {
        var morphSearch = document.getElementById('morphsearch'),
                input = morphSearch.querySelector('input.morphsearch-input'),
                ctrlClose = morphSearch.querySelector('span.morphsearch-close'),
                isOpen = isAnimating = false,
        // show/hide search area
                toggleSearch = function (evt) {
                    // return if open and the input gets focused
                    if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                    var offsets = morphsearch.getBoundingClientRect();
                    if (isOpen) {
                        classie.remove(morphSearch, 'open');
                        if (input.value !== '') {
                            setTimeout(function () {
                                classie.add(morphSearch, 'hideInput');
                                setTimeout(function () {
                                    classie.remove(morphSearch, 'hideInput');
                                    input.value = '';
                                }, 300);
                            }, 500);
                        }

                        input.blur();
                    }
                    else {
                        classie.add(morphSearch, 'open');
                    }
                    isOpen = !isOpen;
                };

        // events
        input.addEventListener('focus', toggleSearch);
        ctrlClose.addEventListener('click', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function (ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });
        morphSearch.querySelector('button[type="submit"]').addEventListener('click', function (ev) {
            ev.preventDefault();
            $.when(
                    apiWrapper.returnReservations(),
                    apiWrapper.getAllRoomAttributes(),
                    apiWrapper.getAllRooms(),
                    apiWrapper.getAllUsers(),
                    apiWrapper.getAllProfiles()
            ).done(
                    function (reservations, attributes, rooms, users, profiles) {
                        var data = {
                            reservations: reservations,
                            attributes: attributes,
                            rooms: rooms,
                            users: users,
                            profiles: profiles
                        };

                        var search_params = $('.morphsearch-input').val();
                        search_params = search_params.split(" ");
                        console.log(search_params)
                        var search_results = [];
                        var template = ""
                        $.each(users[0], function (index, value) {
                            console.log(value);
                            if (value.first_name == search_params[0] ||
                                    value.last_name == search_params[0] ||
                                    value.first_name == search_params[1] ||
                                    value.last_name == search_params[1]
                            ) {
                                search_results.push(value);
                                        template += "<h3>" + value.first_name + " " + value.last_name + "</h3>"
                                        + "<p>Обычно находится в " +  value.locations.default_location.name
                                        + "</p>" +  "<p>Сейчас находится в " +  value.locations.default_location.name + "</p>";


                            }

                        });
                        $('#results').html(template);

                        console.log(search_results);
                    });

        });
    })();

</script>

</body>
</html>