<!DOCTYPE html>
{% load pipeline %}
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Morphing Search Input</title>
    {% block stylesheet %}
        {% stylesheet "codrops" %}
        {% stylesheet "main" %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body>
<div class="container">
    <aside class="sidebar clearfix">
        <nav>
            <a href="#"><i class="fa fa-fw fa-smile-o"></i></a>
        </nav>
    </aside>
    <div id="morphsearch" class="morphsearch">
        <form class="morphsearch-form">
            <input class="morphsearch-input" type="search" placeholder="Поиск..."/>
            <button class="morphsearch-submit" type="submit">Поиск</button>
        </form>
        <div class="morphsearch-content">
            <div class="dummy-column">
                <h2>Результаты</h2>
                <div id="results"></div>
            </div>
        </div>
        <!-- /morphsearch-content -->
        <span class="morphsearch-close"></span>
    </div>
    <!-- /morphsearch -->
    <header class="codrops-header">
        <h1>Поиск сотрудника <span>Не знаете где пропадает ваш коллега?</span></h1>
    </header>
    <div class="overlay"></div>
</div>
<!-- /container -->
<script>
    (function () {
        var morphSearch = document.getElementById('morphsearch'),
                input = morphSearch.querySelector('input.morphsearch-input'),
                ctrlClose = morphSearch.querySelector('span.morphsearch-close'),
                isOpen = isAnimating = false,
        // show/hide search area
                toggleSearch = function (evt) {
                    // return if open and the input gets focused
                    if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                    var offsets = morphsearch.getBoundingClientRect();
                    if (isOpen) {
                        classie.remove(morphSearch, 'open');
                        if (input.value !== '') {
                            setTimeout(function () {
                                classie.add(morphSearch, 'hideInput');
                                setTimeout(function () {
                                    classie.remove(morphSearch, 'hideInput');
                                    input.value = '';
                                }, 300);
                            }, 500);
                        }

                        input.blur();
                    }
                    else {
                        classie.add(morphSearch, 'open');
                    }
                    isOpen = !isOpen;
                };

        // events
        input.addEventListener('focus', toggleSearch);
        ctrlClose.addEventListener('click', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function (ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });
        morphSearch.querySelector('button[type="submit"]').addEventListener('click', function (ev) {
            ev.preventDefault();
            $.when(
                    apiWrapper.returnReservations(),
                    apiWrapper.getAllRoomAttributes(),
                    apiWrapper.getAllRooms(),
                    apiWrapper.getAllUsers(),
                    apiWrapper.getAllProfiles()
            ).done(
                    function (reservations, attributes, rooms, users, profiles) {
                        var data = {
                            reservations: reservations,
                            attributes: attributes,
                            rooms: rooms,
                            users: users,
                            profiles: profiles
                        };

                        var search_params = $('.morphsearch-input').val();
                        search_params = search_params.split(" ");
                        console.log(search_params)
                        var search_results = [];
                        var template = ""
                        $.each(users[0], function (index, value) {
                            console.log(value);
                            if (value.first_name == search_params[0] ||
                                    value.last_name == search_params[0] ||
                                    value.first_name == search_params[1] ||
                                    value.last_name == search_params[1]
                            ) {
                                search_results.push(value);
                                        template += "<h3>" + value.first_name + " " + value.last_name + "</h3>"
                                        + "<p>Обычно находится в " +  value.locations.default_location.name
                                        + "</p>" +  "<p>Сейчас находится в " +  value.locations.default_location.name + "</p>";


                            }

                        });
                        $('#results').html(template);

                        console.log(search_results);
                    });

        });
    })();

</script>
</body>
{% block javascript %}
    {% javascript "main" %}
{% endblock %}
</html>